<%- include('header.ejs') %>

<div class="container">

  <h1>New Product</h1>

  <form method="POST">

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Precio</label>
      <input type="number" name="price" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
      <label for="imageUrl" class="form-label">URL de la Imagen</label>
      <input type="text" name="image" class="form-control" id="imageUrl" placeholder="Introduce la URL de la imagen">
    </div>

    <div class="mb-3">
      <label for="tags" class="form-label">Etiquetas</label>
      <input type="text" name="tags" class="form-control" id="tags" placeholder="Introduce las etiquetas, separadas por comas">
    </div>
    

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>

<%- include('footer.ejs') %>